<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Server status</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }
    button {
      padding: 8px 12px;
      font-size: 16px;
      margin-left: 8px;
    }
  </style>
</head>
<body>
  <h2 id="txt">Server ---</h2>
  <form method="POST" action="do_action">
    <input id="btn_on_off" type="submit" value="---"/>
  </form>

  <script>
    var is_on = {{status}};
    var time_on = "{{time_on}}";
    
    var txt_elem = document.getElementById("txt");
    var btn_elem = document.getElementById("btn_on_off");
    if(is_on){
      txt_elem.innerHTML="Server acceso da " + time_on;
      btn_elem.value="Spegni";
    } else {
      txt_elem.innerHTML="Server OFF";
      btn_elem.value="Accendi";
    }
  </script>


</body>
</html>

